#filters {
  display: inline-block;
  width: 250px;
  background: $offwhite;
  padding: 40px 25px 40px 6%;

  .title {
    color: $darkgray2;
    font-size: 0.95rem;
    font-weight: 700;
    text-shadow: 1px 0 $darkgray2;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .select {
    position: relative;

    select {
      cursor: pointer;
      appearance: none;
      width: 95%;
      height: 35px;
      padding-left: 14px;
      margin: 13px 0;
      font-size: 0.95rem;
      font-weight: 700;
      letter-spacing: 1px;
      background: transparent;
      color: $darkgray;
      border: 1px solid $offwhite3;
      border-radius: 5px;

      &:focus {
        outline: none;
      }

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $darkgray;
      }
    }

    &:after {
      content: '\203A';
      font-size: 30px;
      font-weight: 100;
      color: $lightgray2;
      transform: rotate(90deg);
      top: 18px;
      right: 10px;
      position: absolute;
      pointer-events: none;
    }
  }

  .slider {
    position: relative;
    width: 100%;
    margin-bottom: 80px;

    div.base-fill {
      position: absolute;
      left: 2px;
      top: 37px;
      height: 2px;
      width: 99%;
      background-color: $pink;
    }

    div.low-fill {
      position: absolute;
      left: 0;
      top: 37px;
      background-color: $lightgray;
      height: 2px;
      width: 0;
    }

    div.high-fill {
      position: absolute;
      right: 0;
      top: 37px;
      background-color: $lightgray;
      height: 2px;
      width: 0;
    }

    label {
      font-size: 0.95rem;
      font-weight: 700;
      color: $gray;
      letter-spacing: 2px;
      display: block;
      margin: 50px 0 20px 0;
    }

    input {
      appearance: none;
      position: absolute;
      left: 0;
      top: 35px;
      width: 100%;
      height: 2px;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::-moz-focus-outer {
        border: 0;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        position: relative;
        z-index: 2;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 3px 6px 0px rgba(0,0,0,0.2);
        cursor: pointer;
      }

      &::-moz-range-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border-color: transparent;
        background: white;
        box-shadow: 0 3px 6px 0px rgba(0,0,0,0.2);
        cursor: pointer;
      }
    }

    span {
      position: relative;
      top: 30px;
      font-size: 1rem;
      color: $darkgray2;
    }

    span:first-child {
      float: left;
    }

    span:last-child {
      float: right;
    }
  }

  .features {
    font-size: 0.95rem;
    font-weight: 700;
    color: $gray;
    letter-spacing: 2px;
    display: block;
    margin: 0 0 10px 0;
  }

  .checkbox {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid $offwhite3;
    font-size: 15px;
    color: $darkgray2;

    input {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 13px;
      appearance: none;
      height: 20px;
      width: 20px;
      border: 1px solid $lightgray2;
      border-radius: 2px;
      color: $pink;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $offwhite2;
      }

      &:checked ~ span {
          display: block;
      }
    }

    span {
      display: none;
      pointer-events: none;
      position: absolute;
      right: 3px;
      top: 16px;
      height: 22px;
      width: 22px;
      border-radius: 2px;
      background: linear-gradient(to bottom, $pink 0%, $pink2 100%);
      color: white;

      i {
        position: relative;
        top: 4px;
        left: 4px;
      }
    }
  }
}