header {
  background-color: $darkpurple;
  overflow: auto;
  padding: 5px 6%;

  .logo {
    float: left;
    color: white;
    font-size: 1.3rem;
    text-align: center;

    .car {
      a {
        color: white;

        div {
          display: block;
          font-weight: 700;

          i {
            font-size: 3rem;
          }

          span {
            font-family: Arial, Helvetica, sans-serif;
          }

          span:first-child {
            color: $pink2;
          }
        }
      }
    }
  }

  nav {
    float: right;
    position: relative;
    top: 25px;

    #hamburger {
      display: none;
      position: relative;
      top: -9px;
      margin-bottom: 10px;
      cursor: pointer;

      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0 0 auto;
        transition: 0.1s;
      }
    }

    #links {
      a {
        color: white;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 30px;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $pink;
        }

        span {
          letter-spacing: 1px;
          background: $pink;
          background: linear-gradient(to bottom, $pink 0%, $pink2 100%);
          padding: 10px 34px;
          border-radius: 4px;
          transition: all 0.1s ease-in-out;

          &:hover {
            background: white;
            background: linear-gradient(to bottom, white 0%, white 100%);
          }
        }
      }
    }
  }
}