#sidemenu {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  height: 100%;
  background-color: $darkpurple;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  transform: translateX(calc(100% + 1px));

  &.show {
    transform: translateX(0);
  }

  #close {
    display: block;
    cursor: pointer;
    margin: 28px 20px 0 auto;

    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 4px;
      background-color: white;
      margin: 6px 0 0 auto;
      transition: 0.1s;
    }

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
      transform: rotate(-45deg) translate(-7px, 7px) ;
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-7px, -8px) ;
      transform: rotate(45deg) translate(-7px, -8px) ;
    }
  }

  #links {
    margin: 20px 20px 10px 0;
    text-align: right;

    a {
      display: block;
      padding: 8px 0;
      margin-left: 15px;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;

      &:hover {
        color: $pink;
      }
    }
  }

  #filters {
    padding: 10px 20px 0 10px;
    margin: 0 auto;
    border-right: unset;
    // border-left: 1px solid $offwhite2;

    .select {
      select {
        margin: 8px 0 15px 0;
      }

      &:after {
        top: 29px;
      }
    }

    .slider {
      margin-bottom: 65px;
      position: relative;
      top: -9px;

      label {
        margin: 20px 0 15px 0;
      }

      div {
        top: 32px;
      }

      input {
        top: 30px;
      }
    }

    .features {
      position: relative;
      top: -9px;
    }

    .checkbox {
      position: relative;
      top: -15px;
      padding: 15px 0;

      input {
        top: 8px;
      }

      span {
        top: 11px;
      }
    }
  }
}