$darkpurple: #0B002A;
$pink: #FF7E84;
$pink2: #FF6B96;
$offwhite: #F9F8F4;
$offwhite2: #F0F0EE;
$offwhite3: #E7E2E1;
$gray: #A4A0A1;
$lightgray: #E5E1E0;
$lightgray2: #B9C0C8;
$lightgray3: #E9F0F8;
$lightgray4: #DAE2EF;
$darkgray: #50555B;
$darkgray2: #343A41;
$bluegray: #758093;
