@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import "reset";
@import "variables";

*, body {
  font-family: $font-1;
  font-weight: 400;
  letter-spacing: 2px;
}

@import "sidemenu";
@import "header";
@import "filters";
@import "listings";
@import "footer";
@import "media";